<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3 th:text="${taskName}"></h3>

<h2 th:text = "${taskHeader}"></h2>

<p th:text = "'Тип задачи: ' + ${taskType}"></p>

<p th:text = "'Статус: ' + ${taskStatus}"></p>

<p th:text = "'Исполнитель: ' + ${taskAssignee}"></p>

<p th:text = "'Времени потрачено: ' + ${taskWorkedTime}"></p>

<p th:text = "${taskDescription}"></p>

<div>
    <input type="text" value="РП. Ошибка при множественном создании РП">
</div>

</body>
</html>